<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>floorplans</key>
		<array>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>Studio</string>
				<key>name</key>
				<string>The Simon</string>
				<key>short</key>
				<string>1</string>
				<key>short_description</key>
				<string>Studio, 1 Bath, 591 sq ft</string>
				<key>sqft</key>
				<string>591</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>Studio</string>
				<key>name</key>
				<string>The Crew</string>
				<key>short</key>
				<string>2</string>
				<key>short_description</key>
				<string>Studio, 1 Bath, 641 sq ft</string>
				<key>sqft</key>
				<string>641</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>Studio</string>
				<key>name</key>
				<string>The Crew</string>
				<key>short</key>
				<string>3</string>
				<key>New item</key>
				<string></string>
				<key>short_description</key>
				<string>Studo, 1 Bath, 620 sq ft</string>
				<key>sqft</key>
				<string>620</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
		</array>
		<key>section_name</key>
		<string>STUDIO</string>
	</dict>
	<dict>
		<key>floorplans</key>
		<array>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>One</string>
				<key>name</key>
				<string>The Lily</string>
				<key>short</key>
				<string>4</string>
				<key>short_description</key>
				<string>1 Bed, 1 Bath, 675 sq ft</string>
				<key>sqft</key>
				<string>675</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>One</string>
				<key>name</key>
				<string>The Louis</string>
				<key>short</key>
				<string>5</string>
				<key>short_description</key>
				<string>1 Bed, 1 Bath, 716 sq ft</string>
				<key>sqft</key>
				<string>716</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>One</string>
				<key>name</key>
				<string>The Louis</string>
				<key>short</key>
				<string>6</string>
				<key>short_description</key>
				<string>1 Bed, 1 Bath, 736 sq ft</string>
				<key>sqft</key>
				<string>736</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>One</string>
				<key>name</key>
				<string>The TIffany</string>
				<key>short</key>
				<string>7</string>
				<key>short_description</key>
				<string>1 Bed, 1 Bath, 716 sq ft</string>
				<key>sqft</key>
				<string>716</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>One</string>
				<key>name</key>
				<string>The Tiffany</string>
				<key>short</key>
				<string>8</string>
				<key>short_description</key>
				<string>1 Bed, 1 Bath, 789 sq ft</string>
				<key>sq ft</key>
				<string>789</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>One</string>
				<key>name</key>
				<string>The Yurman</string>
				<key>short</key>
				<string>9</string>
				<key>short_description</key>
				<string>1 Bed, 1 Bath, 835 sq ft</string>
				<key>sqft</key>
				<string>835</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>One</string>
				<key>name</key>
				<string>The Yurman</string>
				<key>short</key>
				<string>10</string>
				<key>short_description</key>
				<string>1 Bed, 1 Bath, 874 sq ft</string>
				<key>sqft </key>
				<string>874</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>One</string>
				<key>name</key>
				<string>The Paul</string>
				<key>short</key>
				<string>11</string>
				<key>short_description</key>
				<string>1 Bed, 1 Bath, 897 sq ft</string>
				<key>sqft </key>
				<string>897</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>One</string>
				<key>name</key>
				<string>The Paul</string>
				<key>short</key>
				<string>12</string>
				<key>short_description</key>
				<string>1 Bed, 1 Bath, 889 sq ft</string>
				<key>sqft </key>
				<string>889</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>One</string>
				<key>name</key>
				<string>The Paul</string>
				<key>short</key>
				<string>13</string>
				<key>short_description</key>
				<string>1 Bed, 1 Bath, 1005 sq ft</string>
				<key>sqft </key>
				<string>1005</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>One</string>
				<key>name</key>
				<string>The Kate</string>
				<key>short</key>
				<string>14</string>
				<key>short_description</key>
				<string>1 Bed, 1 Bath, 922 sq ft</string>
				<key>sqft </key>
				<string>922</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>One</string>
				<key>bedrooms</key>
				<string>One</string>
				<key>name</key>
				<string>The Jack</string>
				<key>short</key>
				<string>15</string>
				<key>short_description</key>
				<string>1 Bed, 1 Bath, 955 sq ft</string>
				<key>sqft </key>
				<string>955</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
		</array>
		<key>section_name</key>
		<string>ONE BEDROOM</string>
	</dict>
	<dict>
		<key>floorplans</key>
		<array>
			<dict>
				<key>bathrooms</key>
				<string>Two</string>
				<key>bedrooms</key>
				<string>Two</string>
				<key>name</key>
				<string>The Benetton</string>
				<key>short</key>
				<string>16</string>
				<key>short_description</key>
				<string>2 Bed, 2 Bath, 1079 sq ft</string>
				<key>sqft</key>
				<string>1079</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>Two</string>
				<key>bedrooms</key>
				<string>Two</string>
				<key>name</key>
				<string>The Neiman</string>
				<key>short</key>
				<string>17</string>
				<key>short_description</key>
				<string>2 Bed, 2 Bath, 1111 sq ft</string>
				<key>sqft</key>
				<string>1111</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>Two</string>
				<key>bedrooms</key>
				<string>Two</string>
				<key>name</key>
				<string>The Brooks</string>
				<key>short</key>
				<string>18</string>
				<key>short_description</key>
				<string>2 Bed, 2 Bath, 1135 sq ft</string>
				<key>sqft</key>
				<string>1135</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>Two</string>
				<key>bedrooms</key>
				<string>Two</string>
				<key>name</key>
				<string>The Brooks</string>
				<key>short</key>
				<string>19</string>
				<key>short_description</key>
				<string>2 Bed, 2 Bath, 1155 sq ft</string>
				<key>sqft</key>
				<string>1155</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>Two</string>
				<key>bedrooms</key>
				<string>Two</string>
				<key>name</key>
				<string>The Murphy</string>
				<key>short</key>
				<string>20</string>
				<key>short_description</key>
				<string>2 Bed, 2 Bath, 1285 sq ft</string>
				<key>sqft</key>
				<string>1285</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>Two</string>
				<key>bedrooms</key>
				<string>Two</string>
				<key>name</key>
				<string>The Johnston</string>
				<key>short</key>
				<string>21</string>
				<key>short_description</key>
				<string>2 Bed, 2 Bath, 1289 sq ft</string>
				<key>sqft</key>
				<string>1289</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>Two</string>
				<key>bedrooms</key>
				<string>Two</string>
				<key>name</key>
				<string>The Cole</string>
				<key>short</key>
				<string>22</string>
				<key>short_description</key>
				<string>2 Bed, 2 Bath, 1299 sq ft</string>
				<key>sqft</key>
				<string>1299</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>Two</string>
				<key>bedrooms</key>
				<string>Two</string>
				<key>name</key>
				<string>The Blanc</string>
				<key>short</key>
				<string>23</string>
				<key>short_description</key>
				<string>2 Bed, 2 Bath, 1322 sq ft</string>
				<key>sqft</key>
				<string>1322</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>Two</string>
				<key>bedrooms</key>
				<string>Two</string>
				<key>name</key>
				<string>The Thomas</string>
				<key>short</key>
				<string>24</string>
				<key>short_description</key>
				<string>2 Bed, 2 Bath, 1545 sq ft</string>
				<key>sqft</key>
				<string>1545</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
		</array>
		<key>section_name</key>
		<string>TWO BEDROOM</string>
	</dict>
</array>
</plist>
