<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>floorplans</key>
		<array>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>STUDIO</string>
				<key>name</key>
				<string>THE SIMON</string>
				<key>short</key>
				<string>1</string>
				<key>short_description</key>
				<string>STUDIO, 1 BATH, 591 SQ FT</string>
				<key>sqft</key>
				<string>591</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>STUDIO</string>
				<key>name</key>
				<string>THE CREW</string>
				<key>short</key>
				<string>2</string>
				<key>short_description</key>
				<string>STUDIO, 1 BATH, 641 SQ FT</string>
				<key>sqft</key>
				<string>641</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>STUDIO</string>
				<key>name</key>
				<string>THE CREW</string>
				<key>short</key>
				<string>3</string>
				<key>short_description</key>
				<string>STUDIO, 1 BATH, 620 SQ FT</string>
				<key>sqft</key>
				<string>620</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
		</array>
		<key>section_name</key>
		<string>STUDIO</string>
	</dict>
	<dict>
		<key>floorplans</key>
		<array>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>ONE</string>
				<key>name</key>
				<string>THE LILY</string>
				<key>short</key>
				<string>4</string>
				<key>short_description</key>
				<string>1 BEDROOM, 1 BATH, 675 SQ FT</string>
				<key>sqft</key>
				<string>675</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>ONE</string>
				<key>name</key>
				<string>THE LOUIS</string>
				<key>short</key>
				<string>5</string>
				<key>short_description</key>
				<string>1 BEDROOM, 1 BATH, 716 SQ FT</string>
				<key>sqft</key>
				<string>716</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>ONE</string>
				<key>name</key>
				<string>THE LOUIS</string>
				<key>short</key>
				<string>6</string>
				<key>short_description</key>
				<string>1 BEDROOM, 1 BATH, 736 SQ FT</string>
				<key>sqft</key>
				<string>736</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>ONE</string>
				<key>name</key>
				<string>THE TIFFANY</string>
				<key>short</key>
				<string>7</string>
				<key>short_description</key>
				<string>1 BEDROOM, 1 BATH, 716 SQ FT</string>
				<key>sqft</key>
				<string>716</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>ONE</string>
				<key>name</key>
				<string>THE TIFFANY</string>
				<key>short</key>
				<string>8</string>
				<key>short_description</key>
				<string>1 BEDROOM, 1 BATH, 789 SQ FT</string>
				<key>sq ft</key>
				<string>789</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>ONE</string>
				<key>name</key>
				<string>THE YURMAN</string>
				<key>short</key>
				<string>9</string>
				<key>short_description</key>
				<string>1 BEDROOM, 1 BATH, 835 SQ FT</string>
				<key>sqft</key>
				<string>835</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>ONE</string>
				<key>name</key>
				<string>THE YURMAN</string>
				<key>short</key>
				<string>10</string>
				<key>short_description</key>
				<string>1 BEDROOM, 1 BATH, 874 SQ FT</string>
				<key>sqft </key>
				<string>874</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>ONE</string>
				<key>name</key>
				<string>THE PAUL</string>
				<key>short</key>
				<string>11</string>
				<key>short_description</key>
				<string>1 BEDROOM, 1 BATH, 897 SQ FT</string>
				<key>sqft </key>
				<string>897</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>ONE</string>
				<key>name</key>
				<string>THE PAUL</string>
				<key>short</key>
				<string>12</string>
				<key>short_description</key>
				<string>1 BEDROOM, 1 BATH, 889 SQ FT</string>
				<key>sqft </key>
				<string>889</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>ONE</string>
				<key>name</key>
				<string>THE PAUL</string>
				<key>short</key>
				<string>13</string>
				<key>short_description</key>
				<string>1 BEDROOM, 1 BATH, 1005 SQ FT</string>
				<key>sqft </key>
				<string>1005</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>ONE</string>
				<key>name</key>
				<string>THE KATE</string>
				<key>short</key>
				<string>14</string>
				<key>short_description</key>
				<string>1 BEDROOM, 1 BATH, 922 SQ FT</string>
				<key>sqft </key>
				<string>922</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>ONE</string>
				<key>bedrooms</key>
				<string>ONE</string>
				<key>name</key>
				<string>THE JACK</string>
				<key>short</key>
				<string>15</string>
				<key>short_description</key>
				<string>1 BEDROOM, 1 BATH, 955 SQ FT</string>
				<key>sqft </key>
				<string>955</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
		</array>
		<key>section_name</key>
		<string>ONE BEDROOM</string>
	</dict>
	<dict>
		<key>floorplans</key>
		<array>
			<dict>
				<key>bathrooms</key>
				<string>TWO</string>
				<key>bedrooms</key>
				<string>TWO</string>
				<key>name</key>
				<string>THE BENETTON</string>
				<key>short</key>
				<string>16</string>
				<key>short_description</key>
				<string>2 BEDROOM, 2 BATH, 1079 SQ FT</string>
				<key>sqft</key>
				<string>1079</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>TWO</string>
				<key>bedrooms</key>
				<string>TWO</string>
				<key>name</key>
				<string>THE NEIMAN</string>
				<key>short</key>
				<string>17</string>
				<key>short_description</key>
				<string>2 BEDROOM, 2 BATH, 1111 SQ FT</string>
				<key>sqft</key>
				<string>1111</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>TWO</string>
				<key>bedrooms</key>
				<string>TWO</string>
				<key>name</key>
				<string>THE BROOKS</string>
				<key>short</key>
				<string>18</string>
				<key>short_description</key>
				<string>2 BEDROOM, 2 BATH, 1135 SQ FT</string>
				<key>sqft</key>
				<string>1135</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>TWO</string>
				<key>bedrooms</key>
				<string>TWO</string>
				<key>name</key>
				<string>THE BROOKS</string>
				<key>short</key>
				<string>19</string>
				<key>short_description</key>
				<string>2 BEDROOM, 2 BATH, 1155 SQ FT</string>
				<key>sqft</key>
				<string>1155</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>TWO</string>
				<key>bedrooms</key>
				<string>TWO</string>
				<key>name</key>
				<string>THE MURPHY</string>
				<key>short</key>
				<string>20</string>
				<key>short_description</key>
				<string>2 BEDROOM, 2 BATH, 1285 SQ FT</string>
				<key>sqft</key>
				<string>1285</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>TWO</string>
				<key>bedrooms</key>
				<string>TWO </string>
				<key>name</key>
				<string>THE JOHNSTON</string>
				<key>short</key>
				<string>21</string>
				<key>short_description</key>
				<string>2 BEDROOM, 2 BATH, 1289 SQ FT</string>
				<key>sqft</key>
				<string>1289</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>TWO</string>
				<key>bedrooms</key>
				<string>TWO</string>
				<key>name</key>
				<string>THE COLE</string>
				<key>short</key>
				<string>22</string>
				<key>short_description</key>
				<string>2 BEDROOM, 2 BATH, 1299 SQ FT</string>
				<key>sqft</key>
				<string>1299</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>TWO</string>
				<key>bedrooms</key>
				<string>TWO</string>
				<key>name</key>
				<string>THE BLANC</string>
				<key>short</key>
				<string>23</string>
				<key>short_description</key>
				<string>2 BEDROOM, 2 BATH, 1322 SQ FT</string>
				<key>sqft</key>
				<string>1322</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
			<dict>
				<key>bathrooms</key>
				<string>TWO</string>
				<key>bedrooms</key>
				<string>TWO</string>
				<key>name</key>
				<string>THE THOMAS</string>
				<key>short</key>
				<string>24</string>
				<key>short_description</key>
				<string>2 BEDROOM, 2 BATH, 1545 SQ FT</string>
				<key>sqft</key>
				<string>1545</string>
				<key>url</key>
				<string>http://www.solissharonsquare.com/</string>
			</dict>
		</array>
		<key>section_name</key>
		<string>TWO BEDROOM</string>
	</dict>
</array>
</plist>
