<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>links</key>
			<array>
				<dict>
					<key>name</key>
					<string>facebook</string>
					<key>url</key>
					<string>https://www.facebook.com/AvenueRApartments</string>
				</dict>
			</array>
			<key>title</key>
			<string>social media</string>
		</dict>
		<dict>
			<key>links</key>
			<array>
				<dict>
					<key>name</key>
					<string>the galleria</string>
					<key>url</key>
					<string>http://www.simon.com/mall/the-galleria</string>
				</dict>
			</array>
			<key>title</key>
			<string>major shopping</string>
		</dict>
		<dict>
			<key>links</key>
			<array>
				<dict>
					<key>name</key>
					<string>pay rent</string>
					<key>url</key>
					<string>https://property.onesite.realpage.com/templates/template_08residentportal/login/login.asp?w=avenuer</string>
				</dict>
				<dict>
					<key>name</key>
					<string>maintenance request</string>
					<key>url</key>
					<string>https://property.onesite.realpage.com/templates/template_08residentportal/login/login.asp?w=avenuer</string>
				</dict>
				<dict>
					<key>name</key>
					<string>AvenueR.com</string>
					<key>url</key>
					<string>http://avenuer.com/</string>
				</dict>
			</array>
			<key>title</key>
			<string>residents</string>
		</dict>
	</array>
</array>
</plist>
