<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>links</key>
			<array>
				<dict>
					<key>name</key>
					<string>Facebook</string>
					<key>url</key>
					<string>https://www.facebook.com/SolisSharonSquare</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Twitter</string>
					<key>url</key>
					<string>https://twitter.com/SolisSquare</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Instagram</string>
					<key>url</key>
					<string>http://instagram.com/SolisSharonSquare</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Pinterest</string>
					<key>url</key>
					<string>http://www.pinterest.com/SolisSharon</string>
				</dict>
			</array>
			<key>title</key>
			<string>SOCIAL MEDIA</string>
		</dict>
	</array>
</array>
</plist>
