<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>LIVING AT SHARON SQUARE</string>
		<string>        Mixed use development with fine dining, sidewalk cafes ad boutiques</string>
		<string>        Adjacent to Whole Foods Market and Phillips Place</string>
		<string>        Controlled-entry building and covered tenant parking with elevator access</string>
		<string>        Numerous guest parking options: on-street, surface lot, and decks</string>
		<string>        100% smoke free building</string>
		<string>        Saltwater pool and sundeck with grilling station</string>
		<string>        Landscaped terraces for games, gatherings and relaxation</string>
		<string>        Club and game rooms for receptions and entertainment</string>
		<string>        Modern fitness center with electronic workout stations</string>
		<string>        Pet friendly</string>
	</array>
</array>
</plist>
