<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>HOME FINISHES &amp; FEATURES</string>
		<string>        Studio, 1 and 2 bedroom residences</string>
		<string>        Granite countertops in kitchens and bathrooms</string>
		<string>        Clean Steel appliances</string>
		<string>        Ceiling fans in each bedroom</string>
		<string>        Balcony or patios*</string>
		<string>        Dark wood-style plank flooring throughout living areas and bathrooms</string>
		<string>        Built in desk*</string>
		<string>        Spacious closets</string>
		<string>        Premium lighting package</string>
		<string>        Tile backsplashes in kitchens</string>
		<string>        Full size washer and dryer</string>
		<string>        High-speed internet and cable TV packages</string>
		<string> </string>
		<string>        *In select apartment homes</string>
	</array>
</array>
</plist>
